extends ../layout

include ../components/titleBar
include ../components/tableHeader
include ../components/tableCell
include ../components/tableRow

block content

  +titleBar([{title: 'Overrides'}])
  div(class="flex flex-wrap m-4")

    table(class="table-auto w-full")
      thead
        tr
          +tableHeader('Parameter')
          +tableHeader('Default Vaule')
      tbody
         each override, i in overrides
          +tableRow()
            +tableCell(override.key)
            +tableCell(override.value)
