extends ../layout
include ../components/titleBar
include ../components/tableHeader
include ../components/tableCell
include ../components/tableRow

block content

  +titleBar([{title: 'Tasks'}])
  div(class="flex flex-wrap m-4")

    table(class="table-auto w-full")
      thead
        tr
          +tableHeader('Task ID')
          +tableHeader('Title')
      tbody
        each task, i in tasks
          +tableRow(`/admin/taskConfig?taskID=` + task.id)
            +tableCell(task.id)
            +tableCell(task.title)
