extends ../layout

block content

  table(class="table table-striped table-sm")
    tbody
      each task, i in tasks
        tr
          td
            a(href=`/admin/taskConfig?taskID=` + task.id)= task.id
          td
            a(href=`/admin/taskConfig?taskID=` + task.id)= task.title
