extends ../layout
include ../components/titleBar
include ../components/tableHeader
include ../components/tableCell
include ../components/tableRow

block content

  +titleBar([{title: 'Tasks'}])
  div(class="flex flex-wrap m-4")
    table(class="table-auto w-full")
      thead
        tr
          +tableHeader('Owner')
          +tableHeader('Repository')
          +tableHeader('Task')
          +tableHeader('Conclusion')
          +tableHeader('Node')
      tbody
        each task, i in tasks
          +tableRow(`/history/taskDetails?taskID=` + task.task_id)
            +tableCell(task.owner)
            +tableCell(task.repository)
            +tableCell(task.task)
            +tableCell(task.conclusion)
            +tableCell(task.node)
