mixin sideBarSection(title)
    li(class="mr-3 flex-1") 
        i(class="fas fa-tasks pr-0 md:pr-3")
        span(class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block")= title
