extends layout

block content

  nav(class="w-100")
    ol(class="breadcrumb align-items-center")
      li(class="breadcrumb-item")
        a(href="/")
          =`Home`
      li(class="breadcrumb-item active")
        =`Trending Failures`

  table(class="table table-striped")
    thead
      tr
        th= `Task ID`
        th= `Task Title`
    tbody
      each task, i in failures
        tr
          td= task.task
          td= task.title
