extends layout

block content

  div(class="chart-container")
    canvas(id="myChart")
      script.
        var chartData = JSON.parse('!{JSON.stringify(data)}');
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
        type: 'bar',
        data: chartData,
        options: {
          responsive: true,
            scales: {
                xAxes: [{
                  stacked: true
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        stepSize: 1
                    },
                    stacked: true
                }]
            }
        }
        });

