extends layout

block content

  table(class="table table-striped")
    thead
      tr
        th= `Task ID`
        th= `Task Title`
    tbody
      each task, i in failures
        tr
          td= task.task
          td= task.title
