extends layout

block content

  table(class="table table-striped table-sm")
    thead
      tr 
        th Owner
        th Repository
    tbody
      each repo, i in repositories
        tr
          td
            a(href=`/repositories/repositoryDetails?owner=` + repo.owner + `&repository=` + repo.repository)= repo.owner
          td
            a(href=`/repositories/repositoryDetails?owner=` + repo.owner + `&repository=` + repo.repository)= repo.repository
