extends layout

block content

  nav(class="w-100")
    ol(class="breadcrumb align-items-center")
      li(class="breadcrumb-item active")
        a(href="/repositories")
          =`Repositories`

  table(class="table table-striped table-sm")
    tbody
      each repo, i in repositories
        tr
          td= repo.owner
          td= repo.repository
